@import "tailwindcss";

.bgg {
  backdrop-filter: blur(585.2000122070312px);
  background-repeat: no-repeat;
  background-position: center
}

.custom-link {
  @apply relative no-underline tracking-wide;

  &::after {
    content: "";
    @apply absolute bg-[#222];
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: width 0.3s;
  }

  &:hover {
    @apply text-[#222];
  }

  &:hover::after {
    width: 100%;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

html{
  scroll-behavior: smooth;
}
